
@import '../dist/ngmat-sorted-table/theme';

@include mat-core();

// Define a theme.
$app-primary: mat-palette($mat-indigo);
$app-accent:  mat-palette($mat-pink, A200, A100, A400);
$app-warn:    mat-palette($mat-red);
$app-light-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
$app-dark-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);


.app-dark-theme {
  @include angular-material-theme($app-dark-theme);
  @include ngmat-sorted-table-theme($app-dark-theme);
}

.app-light-theme {
  @include angular-material-theme($app-light-theme);
  @include ngmat-sorted-table-theme($app-light-theme);
}
